body {
  margin-top: 75px;
  margin: 10px;
  background-image: url(fond.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

#access{
  border: black solid 2px;
  padding: 40px;
  border-radius: 20px;
  width: 300px;
  text-align: center;
  position: absolute;
  top: 70px;
  right: 20pc;
  height: 200px;
}

#créateur{
  
  width: 300px;
  text-align: center;
  position: absolute;
  top: 500px;
  left: 50px;
}

#expoitCSV{
  
  
  width: 450px;
  text-align: center;
  position: absolute;
  
}
#RGPD{
  
  width: 450px;
    text-align: center;
    position: absolute;
    top: 250px;
    
  
}