.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: beige;
    
}

.LogInFrame {
    text-align: center;
    border: black solid 2px;
    padding: 50px;
    border-radius: 20px;
    width: 300px;

}

.LogInText {
    width: 200px;
    height: 20px;
}
