/* Page pour le style créée et géré par Thibaut SCheers*/

.body {
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: beige;
    
}

.LogInFrame {
    text-align: center;
    border: black solid 2px;
    padding: 50px;
    border-radius: 20px;
    width: 300px;
    
    /* margin-right: 500px; */
   
}

.LogInText {
    width: 200px;
    height: 20px;
}
img{
    max-width: 40%;
    height: auto;
    
}
#image{
    text-align: center;
    font-family: cursive;

}
#ico{
    max-width: 30%;
    height: auto;
}